<section class="comments" aria-label="Comments">
  <script
    src="https://giscus.app/client.js"
    data-repo="b9932028-ui/chy.tw"
    data-repo-id="R_kgDOT8dgeQ"
    data-category="General"
    data-category-id="DIC_kwDOT8dgec4DDp1E"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="bottom"
    data-theme="preferred_color_scheme"
    data-lang="en"
    data-loading="lazy"
    crossorigin="anonymous"
    async
  ></script>
</section>
